.about{
    display: flex;
    justify-content: center;
    margin-top: 250px;
    padding-bottom: 100px;
}
.sobre{
padding-left: 150px;
width: 60%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.title-sobre{
    display: flex;
    justify-content: start;
    margin-bottom: 50px;
    margin-top: 150px;
    /* align-items: center; */
}
section .title-sobre h1 {
    font-family:"Playfair Display", serif;
    font-size: 30pt;
    color: #ffff;
    
}

section .title-sobre h1 span{
    font-family:"Playfair Display", serif;
    font-size: 40pt;
    font-style: italic;
    font-weight: 500;
}
.sobre p{
    text-align: justify;
    text-indent: 50px;
    color: #ffff;
    font-size: 14pt;
    line-height: 1.5;
    opacity: 60%;
}
.img-sobre{
    background-image: url(../assets/Images/me-reverse.png);
    background-size: cover;
    width: 500px;
    height: 750px;
    margin-top: 150px;
}
.foco{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 100px;
}
.foco h2{
    font-size: 12pt;
    color: #ffff;
    opacity: 30%;
}
.foco p {
    font-size: 14pt;
    opacity: 100%;
    text-indent: inherit;
}