.tools {
  background-color: #111111;
  height: auto;
  color: #fff;
  padding: 100px 0 100px 0px;
}

.tools h1 {
  font-family: "Playfair Display", serif;
  margin-left: 200px;
}

.tools-card {
  position: relative;
  padding: 24px;
  color: white;
}

.tools-card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: inherit;

  background: linear-gradient(135deg, #ffd59a, #202020, #ffd59a);
  opacity: 35%;

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);

  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
